---
import Container from "~/components/Container.astro";
import { GitHubIcon, InstagramIcon, LinkedInIcon, TwitterIcon } from "~/components/Icons";
import Skills from "~/components/Skills.astro";
import { SocialLink } from "~/components/SocialLinks";
import MainLayout from "~/layouts/MainLayout.astro";

const blogs = await Astro.glob("~/blogs/**/*.mdx");
let gradients = [
  "from-red-500 to-yellow-500 via-purple-500",
  "from-green-500 to-pink-600 via-cyan-500",
  "from-orange-500 to-green-500 via-cyan-500",
  "from-cyan-500 to-green-500 via-orange-500",
  "from-cyan-500 to-pink-600 via-green-500",
  "from-purple-500 to-yellow-500 via-red-500",
];
---

<MainLayout>
  <Container>
    <div class="md:w-2/3 my-6 mb-0 space-y-5">
      <h1 class="sm:text-6xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-blue-500"
          >Roses are red, violets are blue...</span
        > welcome to my site, nice to have you.
      </h1>
      <p class="dimmed tracking-wide leading-relaxed text-lg">
        I'm Victor. I'm majorly a software developer but I also do 3D animation with blender, occassionaly write stories
        and scripts, some part-time physics research and dabble in music production. This is my personal portfolio and
        blog where I share my 2 cents. Feel free to look around.
      </p>
      <div class="flex items-center space-x-2">
        <SocialLink href={"https://twitter.com/mwangindaba"} icon={TwitterIcon} />
        <SocialLink href={"https://github.com/ndaba1"} icon={GitHubIcon} />
        <SocialLink href={"https://www.instagram.com/_vndaba"} icon={InstagramIcon} />
        <SocialLink href={"https://www.linkedin.com/in/victor-m-ndaba-4310401a7/"} icon={LinkedInIcon} />
      </div>
    </div>
  </Container>
  <Container class="my-5">
    <h2 class="text-4xl font-medium">Featured blog posts</h2>

    <section class="grid gap-8 grid-cols-1 md:grid-cols-3 my-10 mt-8">
      {
        blogs.slice(0, 6).map((blog, i) => (
          <a href={`/blog/${blog.frontmatter.slug}`}>
            <div
              class={`rounded-2xl bg-gradient-to-tr from-red-500 to-yellow-500 via-purple-500 p-1 text-lg cursor-pointer transition-all hover:scale-105 group ${gradients[i]}`}
            >
              <div class="bg-white dark:bg-zinc-900 rounded-2xl p-5 space-y-3">
                <h5 class="line-clamp-1 font-medium !text-xl">{blog.frontmatter.title}</h5>
                <p class="dimmed line-clamp-4">{blog.frontmatter.excerpt}</p>
                <div class="flex items-center gap-3">
                  {blog.frontmatter.tags.map((i: string) => (
                    <span class="text-sm bg-green-300 dark:bg-green-600/30 rounded-3xl px-2">#{i}</span>
                  ))}
                </div>
                <div>
                  <span class="group-hover:text-blue-500">Read more</span>
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </section>
    <h2 class="mt-8 text-4xl font-medium">Skills and experience</h2>
    <Skills />
  </Container>
</MainLayout>
