---
import CirclePlus from "@astropub/icons/PlusCircled";
import Quote from "@astropub/icons/Quote";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";

const projects = [
  {
    title: "On the temporal dimension",
    description:
      "A physics research paper delving into the nature of time. It presents a new theory of time, and a new model of the universe. ",
    link: "https://www.researchgate.net/publication/349732597_ON_THE_TEMPORAL_DIMENSION_A_Theory_About_the_Nature_of_Time",
    image: "/images/atom.png",
    tags: ["physics"],
    tagsColors: ["bg-blue-500 dark:bg-blue-400/30"],
    linkText: "researchgate.net",
  },
  {
    title: "Fefa Academy",
    description:
      "This is still a work in progress, but it's a website for an online academy that I'm building. It's a place where I can teach people about the things I know.",
    link: "https://fefaacademy.me",
    image: "/images/class.png",
    linkText: "fefaacademy.me",
    tags: ["academy", "wip"],
    tagsColors: [
      "bg-blue-500 dark:bg-orange-400/30",
      "bg-red-500 dark:bg-red-400/30",
    ],
  },
  {
    title: "Daraja Sdks",
    description:
      "A set of wrappers for working with Daraja, the Mpesa API. It's a set of sdks for Node.js, PHP, Python, and Ruby that simplify working with the API. ",
    link: "https://arxiv.org/abs/2106.00683",
    image: "/images/coding.png",
    linkText: "github.com",
    tags: ["coding"],
    tagsColors: ["bg-purple-500 dark:bg-purple-400/30"],
  },
  {
    title: "Blendini",
    description:
      "I love working with blender, but I also love the procedural nature of houdini. So I decided to make a blender addon that introduces a houdini-like workflow to blender.",
    link: "https://www.researchgate.net/publication/349732597_ON_THE_TEMPORAL_DIMENSION_A_Theory_About_the_Nature_of_Time",
    image: "/images/blender.png",
    linkText: "github.com",
    tags: ["blender", "wip"],
    tagsColors: [
      "bg-yellow-500 dark:bg-yellow-400/30",
      "bg-red-500 dark:bg-red-400/30",
    ],
  },
  {
    title: "Cmder",
    description:
      "No, it's not the cmder you might be thinking of. This one's a rust crate built for parsing command-line arguments. It's a simple, yet powerful library but without sacrificing on performance.",
    link: "https://fefaacademy.me",
    image: "/images/rust.png",
    linkText: "crates.io",
    tags: ["coding"],
    tagsColors: ["bg-purple-500 dark:bg-purple-400/30"],
  },
];
---

<MainLayout>
  <section class="md:w-3/4">
    <h1
      class="text-zinc-900 dark:text-zinc-100 text-5xl font-bold leading-snug"
    >
      Things that I have made trying to <span
        class="cursor-pointer flex items-center hover:opacity-80"
        ><Quote size={20} /> make the world a better place <Quote size={20} />
      </span>
    </h1>
    <p
      class="mt-6 text-base text-zinc-600 dark:text-zinc-400 tracking-wide leading-loose"
    >
      I have a ton of interests, and I like to try invest myself in all of them.
      I have a deep passion for <span class="font-bold text-teal-500"
        >physics</span
      > and do some research in the field. I also like to <span>write</span> and
      <span class="font-bold text-teal-500">code</span>. I have a lot of ideas,
      and I like to make things. I would be remiss if I failed to mention how
      much I like <span class="font-bold text-teal-500">blender</span>
      and often dabble in CG. Here are some of the things I have worked or am working
      on. Feel free to check them out and perhaps even contribute where you can.
    </p>
  </section>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-10">
    {
      projects.map((p) => (
        <Card
          description={p.description}
          image={p.image}
          title={p.title}
          url={p.link}
          linkText={p.linkText}
          tags={p.tags}
          tagsColors={p.tagsColors}
        />
      ))
    }
    <a href="https://github.com/ndaba1" target="_blank">
      <div
        class="rounded-lg !h-full space-y-4 cursor-pointer text-yellow-800 dark:text-yellow-400/70 bg-zinc-300 dark:bg-zinc-700/30 p-5 ring-1 ring-zinc-100 dark:ring-zinc-300/10 shadow-lg group transition flex items-center justify-center flex-col hover:ring-4"
      >
        <CirclePlus size={60} />
        <span class="text-xl">Explore more projects on github</span>
      </div>
    </a>
  </div>
</MainLayout>
