---
import { PlusCircleIcon } from "@heroicons/react/20/solid/index";
import Card from "~/components/Card.astro";
import Container from "~/components/Container.astro";
import MainLayout from "~/layouts/MainLayout.astro";

const projects = [
  {
    title: "On the temporal dimension",
    description:
      "A physics research paper delving into the nature of time. It presents a new theory of time, and a new model of the universe. ",
    link: "https://www.researchgate.net/publication/349732597_ON_THE_TEMPORAL_DIMENSION_A_Theory_About_the_Nature_of_Time",
    image: "/images/atom.png",
    tags: ["physics"],
    tagsColors: ["bg-blue-500 dark:bg-blue-400/30"],
    linkText: "researchgate.net",
  },
  {
    title: "Fefa Academy",
    description:
      "This is still a work in progress, but it's a website for an online academy that I'm building. It's a place where I can teach people about the things I know.",
    link: "https://fefa-academy.vercel.app",
    image: "/images/class.png",
    linkText: "fefaacademy.io",
    tags: ["academy", "wip"],
    tagsColors: ["bg-blue-500 dark:bg-orange-400/30", "bg-red-500 dark:bg-red-400/30"],
  },
  {
    title: "Backframe.js",
    description:
      "Yet another javascript framework. This one's a bit different though. It's a framework for building backends. It's a bit like express, but with a lot more features.",
    link: "https://backframe.dev",
    image: "/images/coding.png",
    linkText: "backframe.dev",
    tags: ["coding"],
    tagsColors: ["bg-purple-500 dark:bg-purple-400/30"],
  },
  {
    title: "Daraja Sdks",
    description:
      "A set of wrappers for working with Daraja, the Mpesa API. It's a set of sdks for Node.js, PHP, Python, and Ruby that simplify working with the API. ",
    link: "https://arxiv.org/abs/2106.00683",
    image: "/images/coding.png",
    linkText: "github.com",
    tags: ["coding"],
    tagsColors: ["bg-purple-500 dark:bg-purple-400/30"],
  },
  {
    title: "Blendini",
    description:
      "I love working with blender, but I also love the procedural nature of houdini. So I decided to make a blender addon that introduces a houdini-like workflow to blender.",
    link: "https://github.com/ndaba1/blendini",
    image: "/images/blender.png",
    linkText: "github.com",
    tags: ["blender", "wip"],
    tagsColors: ["bg-yellow-500 dark:bg-yellow-400/30", "bg-red-500 dark:bg-red-400/30"],
  },
  {
    title: "Cmder",
    description:
      "No, it's not the cmder you might be thinking of. This one's a rust crate built for parsing command-line arguments. It's a simple, yet powerful library but without sacrificing on performance.",
    link: "https://crates.io/crates/cmder",
    image: "/images/rust.png",
    linkText: "crates.io",
    tags: ["coding"],
    tagsColors: ["bg-purple-500 dark:bg-purple-400/30"],
  },
];
---

<MainLayout
  title="Projects - Victor Ndaba"
  description="A short list of the cool stuff that I've developed over the years"
>
  <Container>
    <section class="md:w-3/4">
      <h1 class="leading-tight mb-4">
        Things that I have made trying to <span>
          <a
            href="https://www.youtube.com/watch?v=B8C5sjjhsso"
            target="_blank"
            class="cursor-pointer flex items-center hover:opacity-80"
            >make the world a better place
          </a>
        </span>
      </h1>
      <p class="mt-3 text-lg text-zinc-600 dark:text-zinc-400">
        I have a ton of interests, and I like to try invest myself in all of them. I have a deep passion for <span
          class="font-bold text-teal-500">physics</span
        > and do some research in the field. I also like to <span>write</span> and
        <span class="font-bold text-teal-500">code</span>. I have a lot of ideas, and I like to make things. I would be
        remiss if I failed to mention how much I like <span class="font-bold text-teal-500">blender</span>
         and often dabble in CG. Here are some of the things I have worked or am working on. Feel free to check them out
        and perhaps even contribute where you can.
      </p>
    </section>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-10">
      {
        projects.map((p) => (
          <Card
            description={p.description}
            image={p.image}
            title={p.title}
            url={p.link}
            linkText={p.linkText}
            tags={p.tags}
            tagsColors={p.tagsColors}
          />
        ))
      }
      <a href="https://github.com/ndaba1" target="_blank">
        <div
          class="rounded-lg !h-full space-y-4 cursor-pointer text-yellow-800 dark:text-yellow-400/70 bg-zinc-300 dark:bg-zinc-700/30 p-5 ring-1 ring-zinc-100 dark:ring-zinc-300/10 shadow-lg group transition flex items-center justify-center flex-col hover:ring-4"
        >
          <PlusCircleIcon className="h-16 w-16" />
          <span class="text-xl">Explore more projects on github</span>
        </div>
      </a>
    </div>
  </Container>
</MainLayout>
