---
import { Image } from "@astrojs/image/components";
import LinkIcon from "@astropub/icons/Link2";

export interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
  tags?: string[];
  tagsColors?: string[];
  linkText: string;
}

const props = Astro.props as Props;
---

<a href={props.url} target="_blank">
  <div
    class="rounded-lg space-y-4 cursor-pointer text-zinc-800 dark:text-zinc-200 hover:bg-zinc-300 dark:hover:bg-zinc-700/30 p-5 ring-1 ring-zinc-100 dark:ring-zinc-300/10 hover:shadow-lg group transition relative"
  >
    <Image
      src={props.image}
      alt="imagerrr"
      width={48}
      height={48}
      formats={["avif", "webp"]}
    />

    <div class="absolute top-0 right-5">
      <div class="flex flex-row space-x-2">
        {
          props.tags?.map((tag, index) => (
            <span
              class={`text-xs font-medium px-2 py-1 rounded-full ${props.tagsColors?.[index]}`}
            >
              {tag}
            </span>
          ))
        }
      </div>
    </div>

    <h1 class="font-medium text-xl">{props.title}</h1>
    <p class="line-clamp-4 text-zinc-600 dark:text-zinc-400">
      {props.description}
    </p>

    <div class="flex items-center group-hover:text-teal-600">
      <LinkIcon class="mr-2" size={20} />
      <span class="font-medium">{props.linkText}</span>
    </div>
  </div>
</a>
